<div class="header">
    <div class="content">
        <p class="byline brandon">Thank you for signing up</p>
    </div>
</div>

<div class="hero">
    <div class="page-content clearfix">
        <div class="share-wrap">
            <p class="why brandon">Don't leave your friends behind...</p>
            <p class="title brandon">Invite friends. Earn rewards.</p>
            <p class="subtitle brandon">Share your unique link via email,<br>Facebook or Twitter and earn free stuff<br>for each friend who signs up.</p>
            <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
            <% twitter_message = "What's your hip drive? #FormLifting #whatsyourhipdrive @FormLifting" %>
            <div class="social-links">
                <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" class="fb" target="_blank"></a>
                <div class="sep"></div>
                <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
            </div>
        </div>
    </div>
</div>

<%
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }
 %>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
        <p class="callout brandon">Our Top 10 referral sources win a FREE FORM Collar</p>
        <p class="callout-subtitle brandon">Here's what you get:</p>
        <ul class="products clearfix">
            <li class="title brandon"><p class="friends">Friends Joined: <span><%= referrals_count %></span></p><p class="rewards">You Earn</p></li>
            <% stops.each do |stop| %>
                <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'four' %>last<% end %>">
                    <div class="circle"><%= stop["count"] %></div>
                    <div class="sep"></div>
                    <p><%= stop["html"].html_safe %></p>

                    <div class="tooltip">
                        <img src="<%= stop["image"] %>" height="254">
                    </div>
                </li>
            <% end %>
        </ul>

        <div class="progress">
            <div class="mover">
                <div class="bar clearfix"></div>
            </div>
        </div>

        <% 
            words = ''
            if referrals_count == 1
                words = 'friend has'
            elsif 
                words = 'friends have'
            end

        %>

        <% if referrals_count == 0 %>
            <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
        <% else %>
            <p class="place brandon"><span><%= referrals_count %></span> <%= words %> joined</p>
        <% end %>
            <p class="place brandon">You are ranked number <span><%= @rank %></span> out of <%= User.count %>.</p>
        <!-- <p class="check brandon">Keep checking</p> -->

        <!-- <p class="ship brandon">We ship to the U.S. (& Canada Soon)</p>
        <a class="policy brandon" href="/privacy-policy" target="_blank">Privacy Policy</a> -->
    </div>
</div>